# Local package
-e .

# Core ML
numpy==2.2.1
pandas==2.2.3
scikit-learn==1.5.2

# NLP
nltk==3.9.1

# Web App
Flask==3.1.0

# Experiment Tracking
mlflow==2.19.0
mlflow-skinny==2.19.0
dagshub==0.4.2

# DVC + AWS S3
dvc==3.67.1
dvc-s3==3.2.2
boto3==1.39.13
awscli==1.41.13

# Utilities
python-dotenv>=0.5.1
PyYAML==6.0.2
click==8.1.8

# Development
coverage
flake8
Sphinx

# Monitoring
prometheus_client==0.21.1